.header {
  width: 100%;
  display: flex;
  padding: 50px;
  justify-content: space-between;
  transition-duration: 1s;
}
  
.header_logo {
  height: 2em;
}

.menu_links {
  width: 650px;
  display: flex;
  justify-content: space-between;
}
  
.menu_link:hover,
.menu_link:focus,
.menu_link:active {
  text-decoration: underline;
}

.scrolling {
  position: fixed;
  top: 0;
  color: white;
  background-color: black;
}

@media (min-width: 1200px) {
  .header {
    padding: 2rem 135px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1500px) {
  .header {
    padding: 2rem 185px;
    margin-bottom: 1rem;
  }
}

